## Python Dates and Time

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time() # legacy method for storing date & time - based on epoch - 1 Jan 1970 (time since epoch)

1602230553.7313178

In [4]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow # prints out year, month, date...

datetime.datetime(2020, 10, 9, 16, 5, 52, 746139)

In [7]:
# show year / month / day
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2020, 10, 9, 16, 5, 52)

In [17]:
delta = dt.timedelta(days =460)
delta

datetime.timedelta(days=460)

In [18]:
today = dt.date.today()
today

datetime.date(2020, 10, 9)

In [19]:
today - delta

datetime.date(2019, 7, 7)

In [20]:
today > today-delta

True

## Python Objects, map()

In [1]:
class Person:
    department = 'Marketing'

    def set_name(self, new_name): # name
        self.name = new_name  
    def set_location(self, new_location): # location
        self.location = new_location

In [2]:
person = Person()
person.set_name('Andrea Rocco')
person.set_location('Venice, Italy')
print(f'{person.name} lives in {person.location} and works in the {person.department} department')

Andrea Rocco lives in Venice, Italy and works in the Marketing department

In [3]:
grocery1 = [10.00, 7.00, 11, 4.5]
grocery2 = [9.00, 15.50, 9.20, 2.40]
cheapest = map( min, grocery1, grocery2 )

In [4]:
cheapest # returns map object

In [5]:
for item in cheapest:
    print(item)

9.0
7.0
9.2
2.4

In [6]:
people = ['Mr. Bob Brent', 'Miss Linda Lin', 'Mr. Elliot Eton', 'Dr. Rob Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return f'{title} {lastname}'

list(map(split_title_and_name, people))

['Mr. Brent', 'Miss Lin', 'Mr. Eton', 'Dr. Romero']

## Python Lambda, List Comprehensions

In [7]:
function_x = lambda a, b, c : a + b

In [8]:
function_x(4,6,3)

10

In [9]:
list_eg = []
for num in range(0,10):  # value we want in list
    if num % 2 == 0:    # condition clauses
        list_eg.append(num)

list_eg

[0, 2, 4, 6, 8]

In [10]:
list_eg2 = [num for num in range(0,10) if num % 2 ==0] 
list_eg2

[0, 2, 4, 6, 8]

### write as a single list comprehension

In [11]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True

### creates a list of all possible user ids

In [14]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'

In [15]:
digits = '0123456789'

answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

answer[:6] # Display first 6 ids

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'aa05']

In [16]:
people = ['Mr. Bob Brent', 'Miss Linda Lin', 'Mr. Elliot Eton', 'Mr. Andrea Romero']
def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True