In [10]:
import pandas as pd

In [11]:
df= pd.read_csv('Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
# copy the indexed data into its own column (keep Serial No. for later)
df['Serial No.'] = df.index

In [13]:
# set the index to 'Chance of Admit' col
df = df.set_index('Chance of Admit ')
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial No.
Chance of Admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

### reset_index() - get rid of index completely

In [16]:
df = df.reset_index()
df.head()

,Chance of Admit,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial No.
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

In [27]:
df = pd.read_csv('2015census.csv')
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [19]:
df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [25]:
df = df[df['State']=='New York']
df.head()

,CensusTract,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
County,,,,,,,,,,,,,,,,,,,,,
Albany,36001000100,New York,2001,868,1133,24.3,18.2,51.5,0.0,2.4,...,3.7,0.0,1.4,19.7,641,70.2,28.4,1.4,0.0,20.4
Albany,36001000200,New York,4519,2224,2295,11.8,9.0,75.3,0.0,0.3,...,11.9,0.0,1.9,22.9,1866,73.6,22.6,3.9,0.0,7.9
Albany,36001000300,New York,5244,2643,2601,6.6,45.7,37.5,0.3,2.6,...,3.3,0.8,1.9,18.6,2125,73.4,23.0,3.6,0.0,9.7
Albany,36001000401,New York,2423,927,1496,4.4,86.8,4.2,1.9,2.7,...,0.0,0.5,0.7,18.8,885,60.0,33.7,6.3,0.0,7.9
Albany,36001000403,New York,4654,2100,2554,8.4,66.2,15.3,0.8,7.5,...,1.2,3.0,0.4,19.4,2678,67.2,27.4,5.3,0.0,7.4

In [28]:
df = df.set_index(['State','County'])
df.head()

                 CensusTract  TotalPop   Men  Women  Hispanic  White  Black  \
State   County
Alabama Autauga   1001020100      1948   940   1008       0.9   87.4    7.7
        Autauga   1001020200      2156  1059   1097       0.8   40.4   53.3
        Autauga   1001020300      2968  1364   1604       0.0   74.5   18.6
        Autauga   1001020400      4423  2172   2251      10.5   82.8    3.7
        Autauga   1001020500     10763  4922   5841       0.7   68.5   24.8

                 Native  Asian  Pacific  ...  Walk  OtherTransp  WorkAtHome  \
State   County                           ...
Alabama Autauga     0.3    0.6      0.0  ...   0.5          2.3         2.1
        Autauga     0.0    2.3      0.0  ...   0.0          0.7         0.0
        Autauga     0.5    1.4      0.3  ...   0.0          0.0         2.5
        Autauga     1.6    0.0      0.0  ...   0.0          2.6         1.6
        Autauga     0.0    3.8      0.0  ...   0.0          0.6         0.9

                 MeanCommute  Employed  PrivateWork  PublicWork  SelfEmployed  \
State   County
Alabama Autauga         25.0       943         77.1        18.3           4.6
        Autauga         23.4       753         77.0        16.9           6.1
        Autauga         19.6      1373         64.1        23.6          12.3
        Autauga         25.3      1782         75.7        21.2           3.1
        Autauga         24.8      5037         67.1        27.6           5.3

                 FamilyWork  Unemployment
State   County
Alabama Autauga         0.0           5.4
        Autauga         0.0          13.3
        Autauga         0.0           6.2
        Autauga         0.0          10.8
        Autauga         0.0           4.2

[5 rows x 35 columns]

In [42]:
df1 = df.loc['New York', 'Queens']

In [33]:
df2 = df.loc[ [('New York', 'Queens'),
         ('New York', 'Bronx')] ] # list of 2 tuples

In [45]:
df2 = df2[df2['Asian']>80]
df2.head(20)

                 CensusTract  TotalPop   Men  Women  Hispanic  White  Black  \
State    County
New York Queens  36081029300      1217   596    621       7.5   10.9    0.0
         Queens  36081045600      1400   693    707       3.8    3.5    8.9
         Queens  36081079702      4914  2567   2347      11.6    5.0    0.3
         Queens  36081085300      4526  1967   2559       5.4    2.0    1.3
         Queens  36081086900      2350  1080   1270      12.1    1.4    1.2

                 Native  Asian  Pacific  ...  Walk  OtherTransp  WorkAtHome  \
State    County                          ...
New York Queens     0.0   81.6      0.0  ...   8.4          2.0         0.8
         Queens     0.0   82.8      0.0  ...   5.2          0.7         1.5
         Queens     0.0   81.3      0.0  ...  12.1          1.3         5.9
         Queens     0.7   89.8      0.0  ...  27.1          1.3         1.4
         Queens     0.0   84.1      0.0  ...  22.2          0.6         6.7

                 MeanCommute  Employed  PrivateWork  PublicWork  SelfEmployed  \
State    County
New York Queens         33.4       608         80.1        13.2           6.7
         Queens         45.9       625         82.6        10.1           7.4
         Queens         38.4      2081         84.1         4.6          11.3
         Queens         39.4      2364         86.8         9.4           3.8
         Queens         33.4      1040         91.4         1.3           7.2

                 FamilyWork  Unemployment
State    County
New York Queens         0.0           3.9
         Queens         0.0          16.0
         Queens         0.0          10.8
         Queens         0.0           4.7
         Queens         0.0           0.9

[5 rows x 35 columns]

In [44]:
df1 = df1[df1['Asian']>80]
df1.head(20)

                 CensusTract  TotalPop   Men  Women  Hispanic  White  Black  \
State    County
New York Queens  36081029300      1217   596    621       7.5   10.9    0.0
         Queens  36081045600      1400   693    707       3.8    3.5    8.9
         Queens  36081079702      4914  2567   2347      11.6    5.0    0.3
         Queens  36081085300      4526  1967   2559       5.4    2.0    1.3
         Queens  36081086900      2350  1080   1270      12.1    1.4    1.2

                 Native  Asian  Pacific  ...  Walk  OtherTransp  WorkAtHome  \
State    County                          ...
New York Queens     0.0   81.6      0.0  ...   8.4          2.0         0.8
         Queens     0.0   82.8      0.0  ...   5.2          0.7         1.5
         Queens     0.0   81.3      0.0  ...  12.1          1.3         5.9
         Queens     0.7   89.8      0.0  ...  27.1          1.3         1.4
         Queens     0.0   84.1      0.0  ...  22.2          0.6         6.7

                 MeanCommute  Employed  PrivateWork  PublicWork  SelfEmployed  \
State    County
New York Queens         33.4       608         80.1        13.2           6.7
         Queens         45.9       625         82.6        10.1           7.4
         Queens         38.4      2081         84.1         4.6          11.3
         Queens         39.4      2364         86.8         9.4           3.8
         Queens         33.4      1040         91.4         1.3           7.2

                 FamilyWork  Unemployment
State    County
New York Queens         0.0           3.9
         Queens         0.0          16.0
         Queens         0.0          10.8
         Queens         0.0           4.7
         Queens         0.0           0.9

[5 rows x 35 columns]