In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('us_presidents.csv')
df.head(10)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant

In [8]:
df['First'] = df['president']
df['First'] = df['First'].replace("[ ].*", "", regex=True)
df.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice,First
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James

In [9]:
del(df['First'])

In [12]:
def splitname(row):
    row['First'] = row['president'].split(" ")[0]
    row['Last'] = row['president'].split(" ")[-1]
    return row

In [14]:
df = df.apply(splitname, axis='columns')
df.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice,First,Last
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George,Washington
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John,Adams
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas,Jefferson
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James,Madison
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James,Monroe

In [15]:
del(df['First'])
del(df['Last'])

In [17]:
# returns groups and just had firstname and lastname
pattern = "(^[\w]*)(?:.* )([\w]*$)"
df['president'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [25]:
# name the groups we get named columns out
pattern = "(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)"
names = df['president'].str.extract(pattern).head()

In [26]:
df['First'] = names["First"]
df['Last'] = names['Last']
df.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice,First,Last
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George,Washington
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John,Adams
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas,Jefferson
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James,Madison
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James,Monroe

In [32]:
patdf = pd.read_csv('Inpatient.csv')
patdf.head()

,Case No,Subject ID,Admission Date\n(dd/mm/yyyy),Discharge Date\n(dd/mm/yyyy),Age\n(Years),Race,Gender,Adm Type Desc,Age Group,LOS,Readmitted_30
0,90001,1,7/1/2017,13/1/2017,65,Chinese,Male,Emergency,51-60,6 days,0
1,90002,2,2/1/2017,4/1/2017,52,Chinese,Male,Emergency,41-50,2 days,0
2,90003,3,26/12/2016,6/1/2017,73,Chinese,Female,Emergency,61-70,11 days,1
3,90004,3,17/1/2017,20/1/2017,73,Chinese,Female,Elective inpa,61-70,3 days,0
4,90049,3,20/3/2017,23/3/2017,73,Chinese,Female,Elective inpa,61-70,3 days,1

In [39]:
#df['Born'] = df['born'].str.extract("([\w]{3} [\w]{1,2}, [\w]{4})")
#df['Born'].head()

In [40]:
patdf['Admission Date\n(dd/mm/yyyy)'] = pd.to_datetime(patdf['Admission Date\n(dd/mm/yyyy)'])
patdf['Discharge Date\n(dd/mm/yyyy)'] = pd.to_datetime(patdf['Discharge Date\n(dd/mm/yyyy)'])
patdf.head(10)

,Case No,Subject ID,Admission Date\n(dd/mm/yyyy),Discharge Date\n(dd/mm/yyyy),Age\n(Years),Race,Gender,Adm Type Desc,Age Group,LOS,Readmitted_30
0,90001,1,2017-07-01,2017-01-13,65,Chinese,Male,Emergency,51-60,6 days,0
1,90002,2,2017-02-01,2017-04-01,52,Chinese,Male,Emergency,41-50,2 days,0
2,90003,3,2016-12-26,2017-06-01,73,Chinese,Female,Emergency,61-70,11 days,1
3,90004,3,2017-01-17,2017-01-20,73,Chinese,Female,Elective inpa,61-70,3 days,0
4,90049,3,2017-03-20,2017-03-23,73,Chinese,Female,Elective inpa,61-70,3 days,1
5,90032,3,2017-02-13,2017-02-16,73,Chinese,Female,Elective inpa,61-70,3 days,0
6,90005,4,2017-01-28,2017-01-31,74,Malay,Female,Emergency,61-70,3 days,0
7,90006,5,2017-02-01,2017-06-01,53,Indian,Male,Emergency,41-50,4 days,0
8,90007,6,2017-01-13,2017-01-16,69,Malay,Female,Emergency,51-60,3 days,0
9,90008,7,2017-09-01,2017-10-01,51,Indian,Male,Emergency,41-50,1 days,0