In [3]:
import pandas as pd

In [4]:
staff_df = pd.DataFrame([
    {'Name': 'Kevin',
    'Role': 'Assistant Manager'},
    {'Name': 'Sam',
    'Role': 'Manager'},
    {'Name': 'Jeanette',
    'Role': 'Director'}])
# index staff by NAME
staff_df = staff_df.set_index('Name')

In [7]:
staff_df.head()

                       Role
Name
Kevin     Assistant Manager
Sam                 Manager
Jeanette           Director

In [5]:
student_df = pd.DataFrame([
    {'Name': 'Jeanette',
    'School': 'Arts'},
    {'Name': 'Melvin',
    'School': 'Business'},
    {'Name': 'Sam',
    'School': 'Maths'}
])
# index student by NAME
student_df = student_df.set_index('Name')

In [6]:
student_df.head()

            School
Name
Jeanette      Arts
Melvin    Business
Sam          Maths

## merge() - outer join - union of both

In [8]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True) # L and R indices as the joining columns

                       Role    School
Name
Jeanette           Director      Arts
Kevin     Assistant Manager       NaN
Melvin                  NaN  Business
Sam                 Manager     Maths

## merge() - inner join - both student AND staff

In [9]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

              Role School
Name
Sam        Manager  Maths
Jeanette  Director   Arts

## merge() - left (1st df) - all staff, regardless of whether they were students or not

In [10]:
staff_df.head()

                       Role
Name
Kevin     Assistant Manager
Sam                 Manager
Jeanette           Director

In [11]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True) # joining against staff_df

                       Role School
Name
Kevin     Assistant Manager    NaN
Sam                 Manager  Maths
Jeanette           Director   Arts

## merge() - right (2nd df) - list of all students, regardless of whether they were staff or not

In [12]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True) # joining against student_df

              Role    School
Name
Jeanette  Director      Arts
Melvin         NaN  Business
Sam        Manager     Maths

In [13]:
student_df

            School
Name
Jeanette      Arts
Melvin    Business
Sam          Maths

##

In [14]:
staff_df = pd.DataFrame([
    {'Name': 'Kevin',
    'Role': 'Assistant Manager',
    'Location':'Michigan'},
    {'Name': 'Sam',
    'Role': 'Manager',
    'Location':'Pennsylvania'},
    {'Name': 'Jeanette',
    'Role': 'Director',
    'Location':'Ohio'}])

In [15]:
student_df = pd.DataFrame([
    {'Name': 'Jeanette',
    'School': 'Arts',
    'Location':'543 tonnele Avenue'},
    {'Name': 'Melvin',
    'School': 'Business',
    'Location':'620 West End Avenue'},
    {'Name': 'Sam',
    'School': 'Maths',
    'Location': '391 South Beach Avenue'}
])

In [16]:
pd.merge(staff_df, student_df, how='left', on='Name') # joining on NAME

       Name               Role    Location_x School              Location_y
0     Kevin  Assistant Manager      Michigan    NaN                     NaN
1       Sam            Manager  Pennsylvania  Maths  391 South Beach Avenue
2  Jeanette           Director          Ohio   Arts      543 tonnele Avenue

In [17]:
staff_df = pd.DataFrame([
    {'First Name': 'Kevin',
    'Last Name': 'Kent',
    'Role':'Manager'},

    {'First Name': 'Sam', # inner join
    'Last Name': 'Sanders',
    'Role':'Assistant Manager'},
    
    {'First Name': 'Jeanette',
    'Last Name': 'Johnsson',
    'Role':'Director'}])

In [18]:
student_df = pd.DataFrame([
    {'First Name': 'Jeanette',
    'Last Name': 'Brooks',
    'School':'Arts'},

    {'First Name': 'Melvin',
    'Last Name': 'Matt',
    'School': 'Music'},

    {'First Name': 'Sam', # inner join
    'Last Name': 'Sanders',
    'School': 'Science'}
])

In [19]:
pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

  First Name Last Name               Role   School
0        Sam   Sanders  Assistant Manager  Science

In [ ]:
# frames = [df1,df2,df3]
# pd.concat(frames)
# pd.concat(frames, keys=['2011', '2012', '2013'])