In [1]:
import pandas as pd
import numpy as np
import timeit

In [2]:
df = pd.read_csv('2015census.csv')
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [8]:
(
    df.where(df['State']=='New York')
    .dropna()
    .set_index(['County','TotalPop'])
    .rename(columns={'OtherTransp':'OtherTransportation'})
)

                  CensusTract     State     Men   Women  Hispanic  White  \
County TotalPop
Albany 2001.0    3.600100e+10  New York   868.0  1133.0      24.3   18.2
       4519.0    3.600100e+10  New York  2224.0  2295.0      11.8    9.0
       5244.0    3.600100e+10  New York  2643.0  2601.0       6.6   45.7
       2423.0    3.600100e+10  New York   927.0  1496.0       4.4   86.8
       4654.0    3.600100e+10  New York  2100.0  2554.0       8.4   66.2
...                       ...       ...     ...     ...       ...    ...
Yates  6110.0    3.612315e+10  New York  3067.0  3043.0       4.3   94.4
       5402.0    3.612315e+10  New York  2469.0  2933.0       0.5   95.7
       5481.0    3.612315e+10  New York  2678.0  2803.0       2.7   96.2
       3781.0    3.612315e+10  New York  1812.0  1969.0       0.9   94.6
       4413.0    3.612315e+10  New York  2245.0  2168.0       0.9   97.0

                 Black  Native  Asian  Pacific  ...  Walk  \
County TotalPop                                 ...
Albany 2001.0     51.5     0.0    2.4      0.0  ...   3.7
       4519.0     75.3     0.0    0.3      0.0  ...  11.9
       5244.0     37.5     0.3    2.6      0.0  ...   3.3
       2423.0      4.2     1.9    2.7      0.0  ...   0.0
       4654.0     15.3     0.8    7.5      0.0  ...   1.2
...                ...     ...    ...      ...  ...   ...
Yates  6110.0      0.5     0.1    0.1      0.1  ...   4.3
       5402.0      2.4     0.0    0.2      0.0  ...  10.3
       5481.0      0.4     0.0    0.1      0.0  ...   2.8
       3781.0      1.2     0.5    1.6      0.0  ...  18.8
       4413.0      0.3     0.0    1.2      0.0  ...   9.0

                 OtherTransportation  WorkAtHome  MeanCommute  Employed  \
County TotalPop
Albany 2001.0                    0.0         1.4         19.7     641.0
       4519.0                    0.0         1.9         22.9    1866.0
       5244.0                    0.8         1.9         18.6    2125.0
       2423.0                    0.5         0.7         18.8     885.0
       4654.0                    3.0         0.4         19.4    2678.0
...                              ...         ...          ...       ...
Yates  6110.0                    4.7         7.5         25.2    2955.0
       5402.0                    2.8         7.9         17.5    2349.0
       5481.0                    1.9         5.9         29.3    2582.0
       3781.0                    2.1         7.0         15.6    1765.0
       4413.0                    5.4        11.4         23.5    1845.0

                 PrivateWork  PublicWork  SelfEmployed  FamilyWork  \
County TotalPop
Albany 2001.0           70.2        28.4           1.4         0.0
       4519.0           73.6        22.6           3.9         0.0
       5244.0           73.4        23.0           3.6         0.0
       2423.0           60.0        33.7           6.3         0.0
       4654.0           67.2        27.4           5.3         0.0
...                      ...         ...           ...         ...
Yates  6110.0           70.2        16.8          12.1         0.9
       5402.0           71.6        12.0          15.5         0.9
       5481.0           75.8        12.7          11.3         0.2
       3781.0           77.5        12.9           9.6         0.0
       4413.0           64.7        14.3          18.0         3.0

                 Unemployment
County TotalPop
Albany 2001.0            20.4
       4519.0             7.9
       5244.0             9.7
       2423.0             7.9
       4654.0             7.4
...                       ...
Yates  6110.0             7.9
       5402.0             6.4
       5481.0             7.3
       3781.0             4.3
       4413.0             7.4

[4783 rows x 35 columns]

In [12]:
def first_approach():
    global df

    return (
    df.where(df['State']=='New York')
    .dropna()
    .set_index(['County','TotalPop'])
    .rename(columns={'OtherTransp':'OtherTransportation'})
)

timeit.timeit(first_approach, number=10)

1.335218399999576

In [11]:
def second_approach():
    global df
    new_df = df[df['State']=='New York']
    new_df.set_index(['County','TotalPop'], inplace=True)
    return new_df.rename(columns={'OtherTransp':'OtherTransportation'})

timeit.timeit(second_approach, number=10)

0.15701610000178334

In [18]:
def get_state_region(x):
    northeast = ['New York', 'New Jersey', 'Massachusetts', 'Pennsylvania']
    midwest = ['Michigan', 'Ohio', 'North Dakota', 'Iowa']
    south=['Florida', 'Georgia', 'Alabama', 'Texas']
    west = ['Colorado', 'Hawaii', 'Utah', 'Alaska']

    if x in northeast:
        return 'Northeast'
    elif x in midwest:
        return 'Midwest'
    elif x in south:
        return 'South'
    else:
        return 'West'

In [20]:
df = pd.read_csv('2015census.csv')

df['state_region'] = df['State'].apply( lambda x: get_state_region(x) )

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,state_region
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4,South
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3,South
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2,South
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8,South
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2,South
5,1001020600,Alabama,Autauga,3851,1787,2064,13.1,72.9,11.9,0.0,...,6.0,4.5,19.8,1560,79.4,14.7,5.8,0.0,10.9,South
6,1001020700,Alabama,Autauga,2761,1210,1551,3.8,74.5,19.7,0.0,...,0.0,0.0,20.0,1166,82.0,14.6,3.4,0.0,11.4,South
7,1001020801,Alabama,Autauga,3187,1502,1685,1.3,84.0,10.7,3.1,...,1.7,5.9,24.3,1502,78.1,14.8,7.1,0.0,8.2,South
8,1001020802,Alabama,Autauga,10915,5486,5429,1.4,89.5,8.4,0.0,...,0.0,1.3,29.4,4348,73.3,22.1,4.6,0.0,8.7,South
9,1001020900,Alabama,Autauga,5668,2897,2771,0.4,85.5,12.1,0.0,...,1.2,2.1,32.9,2485,77.9,15.2,6.9,0.0,7.2,South

In [22]:
df[['State', 'state_region']].head()

     State state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

# Group by

In [3]:
df = df[df['State']=='New York']
df.head(10)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
43195,36001000100,New York,Albany,2001,868,1133,24.3,18.2,51.5,0.0,...,3.7,0.0,1.4,19.7,641,70.2,28.4,1.4,0.0,20.4
43196,36001000200,New York,Albany,4519,2224,2295,11.8,9.0,75.3,0.0,...,11.9,0.0,1.9,22.9,1866,73.6,22.6,3.9,0.0,7.9
43197,36001000300,New York,Albany,5244,2643,2601,6.6,45.7,37.5,0.3,...,3.3,0.8,1.9,18.6,2125,73.4,23.0,3.6,0.0,9.7
43198,36001000401,New York,Albany,2423,927,1496,4.4,86.8,4.2,1.9,...,0.0,0.5,0.7,18.8,885,60.0,33.7,6.3,0.0,7.9
43199,36001000403,New York,Albany,4654,2100,2554,8.4,66.2,15.3,0.8,...,1.2,3.0,0.4,19.4,2678,67.2,27.4,5.3,0.0,7.4
43200,36001000404,New York,Albany,5033,2457,2576,10.9,63.9,13.5,0.0,...,38.9,2.5,7.6,14.7,1067,78.8,20.8,0.0,0.4,20.4
43201,36001000501,New York,Albany,3758,1794,1964,20.9,41.4,24.8,0.4,...,4.5,5.7,4.1,20.5,1799,72.4,24.1,3.4,0.0,10.5
43202,36001000502,New York,Albany,3747,1730,2017,6.3,69.1,10.1,0.0,...,10.2,4.1,4.7,16.9,1517,79.9,17.9,2.2,0.0,10.4
43203,36001000600,New York,Albany,3851,2021,1830,20.6,31.3,37.6,0.5,...,11.9,4.3,1.2,18.7,1607,85.5,12.3,2.2,0.0,11.6
43204,36001000700,New York,Albany,3927,1915,2012,15.0,6.3,75.9,0.0,...,2.8,5.3,3.2,19.1,1519,73.4,19.9,6.6,0.0,20.4

In [4]:
df = df.reset_index()
# group by Country     find average 'Asian' scores
df.groupby('County').agg({'Asian':np.average})

                Asian
County
Albany       5.362667
Allegany     0.915385
Bronx             NaN
Broome       3.461818
Cattaraugus       NaN
...               ...
Washington   0.458824
Wayne             NaN
Westchester       NaN
Wyoming      0.400000
Yates        0.640000

[62 rows x 1 columns]

In [10]:
pd.options.display.max_rows = 62

df.groupby('County').agg(   # group by - creates a new group by object. invoke agg() function on that object.  agg() function apply 1/more functions we specify to the df, return a single row per df/group. 
                                 # 3 dictionary entries. each with key indicate which column we want (black, asian, hispanic)
    {'Asian':(np.nanmean, np.nanstd),  # supplied a tuple of 2 functions - references to functions - returns single values
    'Black': np.nanmean, 
    'Hispanic': np.nanmean,
    'White':np.nanmean}) 
# excludes NAN

                  Asian                 Black   Hispanic      White
                nanmean     nanstd    nanmean    nanmean    nanmean
County
Albany         5.362667   4.831087  12.740000   5.738667  73.268000
Allegany       0.915385   1.172495   0.938462   1.315385  88.061538
Bronx          3.780357   5.299138  28.975000  52.459524  12.916667
Broome         3.461818   5.121396   5.747273   4.167273  83.976364
Cattaraugus    1.420000   3.025088   1.405000   1.645000  88.015000
Cayuga         0.468421   0.541657   3.821053   2.615789  91.068421
Chautauqua     0.694286   1.181211   2.565714   7.591429  87.142857
Chemung        1.236364   1.700853   7.577273   3.259091  84.218182
Chenango       0.558333   0.690794   0.883333   2.225000  94.733333
Clinton        1.568421   1.492966   3.468421   2.752632  90.621053
Columbia       1.709524   2.283617   3.885714   4.038095  87.961905
Cortland       0.975000   1.183312   1.575000   2.775000  92.508333
Delaware       0.628571   0.482667   2.564286   4.128571  91.150000
Dutchess       3.735443   4.564075   9.994937  11.534177  72.325316
Erie           3.044492   5.725666  15.725847   5.463983  72.646610
Essex          0.692308   0.861647   1.769231   2.215385  93.984615
Franklin       0.435714   0.571916   3.907143   2.528571  83.828571
Fulton         0.633333   0.936305   1.413333   2.660000  93.433333
Genesee        1.180000   2.090181   3.386667   2.993333  84.366667
Greene         0.880000   1.228355   5.953333   5.613333  85.966667
Hamilton       0.125000   0.125831   0.575000   1.350000  94.300000
Herkimer       0.326316   0.465286   0.784211   1.726316  95.631579
Jefferson      1.356000   1.670848   5.512000   7.016000  82.528000
Kings         11.041545  14.736424  31.331558  18.255393  37.301598
Lewis          0.342857   0.373529   0.871429   1.457143  96.471429
Livingston     1.400000   1.958863   4.020000   4.380000  88.126667
Madison        0.831250   1.388389   1.718750   1.962500  93.556250
Monroe         3.275916   4.207218  19.977487  10.346073  63.794764
Montgomery     0.681250   0.765261   1.662500  16.106250  79.325000
Nassau         8.336201   8.926415   9.927957  15.205018  64.529749
New York      12.226502  12.540806  13.878092  22.646290  48.193993
Niagara        1.110000   1.670045  10.241667   2.683333  81.936667
Oneida         3.780282   6.612966   7.209859   6.253521  80.119718
Onondaga       3.746429   5.844599  13.322143   5.806429  73.457857
Ontario        1.064000   1.458275   2.936000   4.808000  89.496000
Orange         2.526582   2.426336   9.624051  19.458228  65.626582
Orleans        0.670000   0.853815   4.880000   4.250000  87.880000
Oswego         0.651724   0.735634   0.700000   2.406897  94.479310
Otsego         1.352941   1.042903   1.882353   3.558824  91.505882
Putnam         2.057895   1.844606   2.273684  12.042105  81.878947
Queens        22.687538  20.013030  19.390462  26.014462  27.339538
Rensselaer     2.066667   3.033284   6.495238   4.426190  83.857143
Richmond       7.745370   5.773066  10.837037  18.544444  60.923148
Rockland       6.100000   4.638258  10.806154  16.430769  64.572308
Saratoga       2.292000   3.082858   1.496000   2.722000  91.668000
Schenectady    4.104651   4.199601  10.302326   6.972093  73.818605
Schoharie      0.650000   0.694879   2.700000   4.037500  90.925000
Schuyler       0.580000   0.342053   0.980000   1.760000  95.080000
Seneca         0.820000   0.769993   2.720000   2.590000  91.620000
St. Lawrence   1.042857   1.116684   2.139286   2.339286  91.914286
Steuben        1.013333   2.075594   1.373333   1.403333  94.600000
Suffolk        3.598758   4.043286   6.486335  15.945031  72.326708
Sullivan       1.783333   1.797744   6.512500  13.237500  76.041667
Tioga          0.580000   0.692499   0.740000   1.770000  95.460000
Tompkins       9.517391  11.204165   4.191304   5.130435  77.821739
Ulster         2.065957   2.415014   5.400000   9.195745  80.334043
Warren         0.773684   1.206391   1.021053   2.094737  94.789474
Washington     0.458824   0.567956   1.847059   2.282353  94.000000
Wayne          0.622727   0.661839   3.345455   4.190909  90.113636
Westchester    5.696847   4.527027  14.841441  22.223874  54.975225
Wyoming        0.400000   0.466905   3.063636   2.445455  92.963636
Yates          0.640000   0.709225   0.960000   1.860000  95.580000

## Transformation

In [11]:
df.head()

,index,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,43195,36001000100,New York,Albany,2001,868,1133,24.3,18.2,51.5,...,3.7,0.0,1.4,19.7,641,70.2,28.4,1.4,0.0,20.4
1,43196,36001000200,New York,Albany,4519,2224,2295,11.8,9.0,75.3,...,11.9,0.0,1.9,22.9,1866,73.6,22.6,3.9,0.0,7.9
2,43197,36001000300,New York,Albany,5244,2643,2601,6.6,45.7,37.5,...,3.3,0.8,1.9,18.6,2125,73.4,23.0,3.6,0.0,9.7
3,43198,36001000401,New York,Albany,2423,927,1496,4.4,86.8,4.2,...,0.0,0.5,0.7,18.8,885,60.0,33.7,6.3,0.0,7.9
4,43199,36001000403,New York,Albany,4654,2100,2554,8.4,66.2,15.3,...,1.2,3.0,0.4,19.4,2678,67.2,27.4,5.3,0.0,7.4

In [28]:
cols = ['IncomePerCap', 'County']

In [29]:
transform_df = df[cols].groupby('County').transform(np.nanmean)
transform_df.head()

   IncomePerCap
0  24386.916667
1  24386.916667
2  24386.916667
3  24386.916667
4  24386.916667

In [27]:
df = pd.read_csv('2015census.csv')
#df.head()

In [30]:
transform_df.rename({'IncomePerCap':'meanIncomePerCap'}, axis='columns', inplace=True)
df = df.merge(transform_df, left_index=True, right_index=True)

df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,meanIncomePerCap
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4,24386.916667
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3,24386.916667
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2,24386.916667
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8,24386.916667
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2,24386.916667

In [33]:
df['mean_diff'] = np.absolute(df['IncomePerCap']-df['meanIncomePerCap'])
df['mean_diff'].head(20)

0      1326.083333
1      6365.916667
2      3697.916667
3       261.916667
4      3139.083333
5      6093.083333
6      3944.916667
7      8426.083333
8       358.916667
9       323.083333
10     1096.916667
11     3580.916667
12     5124.000000
13     6639.000000
14      438.000000
15     4954.000000
16     2098.000000
17     9633.000000
18    10887.000000
19    12834.000000
Name: mean_diff, dtype: float64

In [40]:
df.groupby('Asian').filter(lambda x: np.nanmean(x['IncomePerCap']) >52000 )

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,meanIncomePerCap,mean_diff
3842,6001441925,California,Alameda,6138,3056,3082,6.2,20.7,4.0,0.7,...,4.2,39.6,3869,92.6,4.7,2.7,0.0,4.5,38161.402778,16670.597222
3846,6001442100,California,Alameda,5245,2535,2710,4.2,17.3,0.6,0.6,...,5.4,34.7,2341,88.6,7.6,3.8,0.0,4.4,38161.402778,15367.597222
3862,6001443105,California,Alameda,4452,2142,2310,0.0,17.5,0.7,0.2,...,8.8,31.7,2105,81.2,7.9,10.5,0.4,7.2,38161.402778,17398.597222
4141,6013355116,California,Contra Costa,7492,3938,3554,4.6,19.4,1.6,0.3,...,7.3,42.9,3414,87.6,10.4,2.1,0.0,3.6,40143.734300,18377.265700
5946,6037407400,California,Los Angeles,2091,1036,1055,56.2,6.9,2.5,0.8,...,4.6,32.1,944,83.2,12.9,3.9,0.0,15.2,28805.443632,4821.443632
6135,6037480703,California,Los Angeles,3288,1560,1728,16.5,45.7,2.1,0.0,...,15.2,28.3,1875,69.3,12.9,17.9,0.0,8.4,28805.443632,18249.556368
7594,6059052517,California,Orange,11322,5924,5398,4.9,47.1,5.9,0.0,...,5.2,25.9,5489,83.7,12.8,3.4,0.0,8.4,33212.910256,14166.089744
7931,6059099904,California,Orange,6830,3442,3388,37.5,16.5,0.2,0.0,...,2.6,24.5,3094,87.1,7.3,5.3,0.3,8.1,33212.910256,16071.910256
9912,6075017801,California,San Francisco,3115,1171,1944,3.1,27.7,4.5,0.0,...,16.1,33.1,1055,78.1,8.2,13.6,0.0,6.7,53205.169231,930.169231
10355,6081610303,California,San Mateo,8011,3700,4311,6.5,46.0,1.7,0.0,...,6.7,28.9,4375,89.0,6.9,4.1,0.0,5.1,50878.006410,24538.993590
10570,6085503330,California,Santa Clara,8379,3974,4405,9.7,10.2,0.0,0.0,...,3.8,35.5,3975,84.0,9.5,6.4,0.0,3.9,44715.360215,9908.639785
10657,6085505305,California,Santa Clara,5900,3206,2694,11.4,40.6,4.7,0.7,...,4.2,20.5,2978,85.0,13.2,1.8,0.0,8.6,44715.360215,454.360215
10670,6085506202,California,Santa Clara,7205,3475,3730,5.6,43.7,1.7,0.0,...,5.9,28.7,3642,87.0,4.2,8.8,0.0,6.1,44715.360215,13615.639785
10701,6085507301,California,Santa Clara,6908,3161,3747,5.1,48.5,0.2,0.9,...,4.1,32.3,2797,87.2,7.3,5.5,0.0,7.1,44715.360215,46339.639785
10707,6085507701,California,Santa Clara,3855,1967,1888,5.3,26.8,0.0,0.0,...,9.2,25.8,1857,85.0,7.5,7.5,0.0,5.4,44715.360215,26210.639785
10712,6085507807,California,Santa Clara,3150,1500,1650,0.9,18.9,0.0,0.5,...,12.6,27.4,1444,82.5,9.6,8.0,0.0,5.2,44715.360215,18174.639785
10713,6085507808,California,Santa Clara,5590,2551,3039,1.1,23.2,0.6,0.0,...,9.6,31.0,2571,83.8,7.7,8.2,0.3,4.0,44715.360215,15045.639785
10715,6085507904,California,Santa Clara,3277,1717,1560,1.5,25.2,1.0,1.7,...,9.9,29.0,1491,82.6,6.4,11.0,0.0,2.9,44715.360215,17743.639785
10722,6085508102,California,Santa Clara,3432,1626,1806,3.4,20.9,0.0,1.2,...,2.6,24.3,1767,96.5,0.6,2.9,0.0,5.8,44715.360215,19670.639785
10740,6085508704,California,Santa Clara,5831,3149,2682,17.4,26.2,1.9,0.3,...,6.8,23.0,3319,85.6,8.3,6.2,0.0,8.9,44715.360215,8353.639785
10748,6085509108,California,Santa Clara,4465,2327,2138,25.2,37.6,1.1,0.2,...,2.8,22.9,2760,88.9,5.6,5.5,0.0,6.0,44715.360215,11656.639785
10777,6085510900,California,Santa Clara,5657,2827,2830,5.4,55.6,0.8,0.0,...,8.3,21.9,2692,83.6,8.1,8.2,0.0,7.4,44715.360215,27057.639785
10779,6085511100,California,Santa Clara,5586,2743,2843,7.9,54.9,0.8,0.2,...,7.3,25.9,2427,83.2,8.4,8.3,0.0,5.3,44715.360215,35269.639785
20373,15003000600,Hawaii,Honolulu,1335,598,737,0.0,38.8,0.0,0.0,...,12.5,31.8,558,75.4,13.1,11.5,0.0,3.5,32360.252137,32549.747863
21451,17031281900,Illinois,Cook,4888,2382,2506,8.4,40.8,7.1,0.0,...,1.4,24.9,3281,86.9,11.3,1.8,0.0,6.8,30366.152914,27839.847086
30414,24027602303,Maryland,Howard,3799,1909,1890,2.1,55.6,8.4,0.0,...,8.5,32.3,2183,71.9,25.4,2.7,0.0,1.4,37691.770833,20306.229167
41541,34017002900,New Jersey,Hudson,4214,2118,2096,22.0,31.3,13.5,0.1,...,7.7,37.7,2038,85.6,9.7,4.7,0.0,8.1,34243.175758,10394.175758
41580,34017007600,New Jersey,Hudson,6432,3577,2855,7.6,34.3,2.3,0.0,...,5.3,37.5,4827,94.8,2.6,2.6,0.0,2.7,34243.175758,62882.824242
41809,34023001410,New Jersey,Middlesex,4360,1984,2376,2.6,20.9,8.4,0.2,...,2.3,39.6,2170,84.3,12.6,2.7,0.4,7.6,40967.761278,5585.238722
41940,34023008403,New Jersey,Middlesex,7522,3753,3769,3.9,41.1,11.9,0.2,...,5.3,39.7,3905,84.4,13.2,2.5,0.0,2.5,40967.761278,13608.238722
44384,36047013200,New York,Kings,2397,1238,1159,16.9,35.7,0.4,0.0,...,2.7,44.3,1116,82.8,10.3,6.9,0.0,6.5,27570.574003,2452.574003
45527,36059518501,New York,Nassau,6488,3139,3349,1.3,62.9,2.9,0.0,...,3.4,35.7,2972,83.7,11.5,4.8,0.0,4.0,43671.642612,24197.357388
45657,36061007600,New York,New York,1912,843,1069,2.8,45.8,2.6,0.4,...,7.2,23.4,1306,92.2,1.4,6.1,0.3,3.5,69351.519573,14146.480427
45678,36061009600,New York,New York,149,87,62,4.7,55.0,0.0,8.1,...,7.8,25.7,116,100.0,0.0,0.0,0.0,4.1,69351.519573,66726.480427
46955,36081129104,New York,Queens,4241,1956,2285,5.7,43.6,3.0,0.0,...,3.0,38.1,2277,79.4,14.6,5.9,0.0,4.6,27596.498452,18769.501548
62561,48085031661,Texas,Collin,3030,1611,1419,5.0,33.2,1.2,0.3,...,12.8,31.0,1509,95.2,2.8,1.9,0.0,2.5,39965.756579,14068.243421
69984,53033010402,Washington,King,5218,2846,2372,11.6,20.9,10.9,0.0,...,1.4,26.2,2914,81.0,16.4,2.6,0.0,4.6,41690.047739,12016.047739

In [43]:
df = pd.read_csv('2015census.csv')
#df.head()

In [44]:
def calc_mean_incomepercap(group):
    avg = np.nanmean(group['IncomePerCap'])
    group['mean_IncomePerCap'] = np.abs(avg - group['IncomePerCap'])
    return group

df.groupby('State').apply(calc_mean_incomepercap).head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,mean_IncomePerCap
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4,2872.902979
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3,4819.097021
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2,2151.097021
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8,1284.902979
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2,4685.902979