In [7]:
import pandas as pd
import numpy as np

In [3]:
students = ['Alice', 'Jack', 'Molly']
# call Series function in pandas and pass in students
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [5]:
num = [1,2,None] # Nan = Not a Number
pd.Series(num)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
np.nan == None # NaN /= None

False

In [9]:
np.nan == np.nan # can't do equality test to NAN itself

False

In [10]:
# Special function isnan() - test for presence of NAN
np.isnan(np.nan)

True

### pandas' Series created from dictionary data

In [23]:
students_scores = {
    'Alice': 'Biology',
    'Jack': 'German',
    'Bob': 'Italian'
}

s = pd.Series(students_scores)
s

Alice    Biology
Jack      German
Bob      Italian
dtype: object

In [24]:
s.index

Index(['Alice', 'Jack', 'Bob'], dtype='object')

In [25]:
#list of tuples
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Bob', 'Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2      (Bob, Green)
dtype: object

In [27]:
# pass in index=[..list..] - separate index from data
s = pd.Series(['A+', 'B-', 'C+'], index=['Alice', 'Jack', 'Bob'])
s

Alice    A+
Jack     B-
Bob      C+
dtype: object

In [28]:
s = pd.Series(students_scores, index=['Alice', 'Molly', 'Bob'])
s

Alice    Biology
Molly        NaN
Bob      Italian
dtype: object

## iloc attribute - query by numeric location, starting at 0
## loc attribute - query by index label

In [29]:
import pandas as pd

In [30]:
students_classes = {
    'Abby':'Italian',
    'John':'Music',
    'Maddy':'Math',
    'Sophie':'History' 
}
s = pd.Series(students_classes)
s

Abby      Italian
John        Music
Maddy        Math
Sophie    History
dtype: object

In [35]:
s.iloc[1] # sqaure brackets []. Not methods so no ()

'Music'

In [36]:
# loc attribute, parameter of Maddy
s.loc['Maddy']

'Math'

In [37]:
s[1] # behave same as iloc

'Music'

In [39]:
s['Maddy'] # behave same as loc

'Math'

In [40]:
class_code = {
    1200: 'Math',
    1300: 'Anatomy',
    2200: 'Chemistry',
    3100: 'Biology'
}
s = pd.Series(class_code)
s

1200         Math
1300      Anatomy
2200    Chemistry
3100      Biology
dtype: object

In [42]:
# s[0] will get key error, no item with index 0
grades = pd.Series([67, 83, 76, 80])

total = np.sum(grades)
print(total/len(grades))

76.5

In [44]:
num = pd.Series(np.random.randint(0,100,20)) # get 20 random numbers, between 0-100

num.head()

0    56
1    83
2    35
3    53
4    68
dtype: int32

In [45]:
len(num)

20

In [53]:
num.head()

0    56
1    83
2    35
3    53
4    68
dtype: int32

In [54]:
num+=2 # increase everything in Series by 2
num.head()

0    58
1    85
2    37
3    55
4    70
dtype: int32

In [55]:
z = pd.Series([1,2,3])
z.loc['Holland']=109 # creates new element index name 'Holland' - value 109
z

0            1
1            2
2            3
Holland    109
dtype: int64

In [56]:
kelly_classes = pd.Series([
    'Psychology',
    'Math',
    'Chemistry'
], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Psychology
Kelly          Math
Kelly     Chemistry
dtype: object

In [60]:
students_classes = pd.Series({
    'Abby':'Italian',
    'John':'Music',
    'Maddy':'Math',
    'Sophie':'History'})
students_classes

Abby      Italian
John        Music
Maddy        Math
Sophie    History
dtype: object

In [62]:
all_students_classes = students_classes.append(kelly_classes) # Pandas will take the series and infer best datatypes to use. Here all are strings. Returns new series with 2 appended tgt (original unchanged). 
all_students_classes

Abby         Italian
John           Music
Maddy           Math
Sophie       History
Kelly     Psychology
Kelly           Math
Kelly      Chemistry
dtype: object

In [64]:
all_students_classes['Kelly']

Kelly    Psychology
Kelly          Math
Kelly     Chemistry
dtype: object

In [65]:
all_students_classes.loc['Kelly']

Kelly    Psychology
Kelly          Math
Kelly     Chemistry
dtype: object