In [2]:
import pandas as pd
import numpy as np

## Timestamp

In [2]:
pd.Timestamp('14/10/2020 11:56PM')

Timestamp('2020-10-14 23:56:00')

In [7]:
pd.Timestamp(2020, 10, 14, 14, 5) # year month date hour minute

Timestamp('2020-10-14 14:05:00')

In [8]:
pd.Timestamp(2020, 10, 15, 0, 5).isoweekday() # 1- Monday and 7- Sunday

4

In [9]:
pd.Timestamp(2020, 10, 15, 0, 10, 23).second

23

## Period

In [11]:
pd.Period('7/2019') # creating a period that is July 2019

Period('2019-07', 'M')

In [12]:
pd.Period('3/7/2019')

Period('2019-03-07', 'D')

In [15]:
pd.Period('7/2019') + 15 # 15 months after July 2019

Period('2020-10', 'M')

In [18]:
pd.Period('10/15/2020') - 2 # 2 days before oct 15th

Period('2020-10-13', 'D')

## DatetimeIndex and PeriofIndex

In [3]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2020-10-15'), pd.Timestamp('2020-10-10'), pd.Timestamp('2020-10-11')])
t1

2020-10-15    a
2020-10-10    b
2020-10-11    c
dtype: object

In [4]:
type(t1.index) # DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [5]:
t2 = pd.Series(list('def'), [pd.Period('2019-04'), pd.Period('2019-05'), pd.Period('2019-06')])
t2

2019-04    d
2019-05    e
2019-06    f
Freq: M, dtype: object

In [6]:
type(t2.index) # PeriodIndex

pandas.core.indexes.period.PeriodIndex

## Convert to Datetime

In [7]:
d1 = ['20 July 2019', 'Aug 20, 2019', '2019-08-24', '7/12/19']

ts3 = pd.DataFrame(np.random.randint(10,100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
20 July 2019  52  95
Aug 20, 2019  75  53
2019-08-24    14  35
7/12/19       90  25

In [8]:
ts3.index= pd.to_datetime(ts3.index)
ts3

             a   b
2019-07-20  52  95
2019-08-20  75  53
2019-08-24  14  35
2019-07-12  90  25

In [11]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

In [12]:
pd.Timestamp('19/7/2019') - pd.Timestamp('26/7/2019')

Timedelta('-7 days +00:00:00')

In [17]:
pd.Timestamp('14/7/2019 12:30PM') + pd.Timedelta('450D')

Timestamp('2020-10-06 12:30:00')

## Offset

In [21]:
pd.Timestamp('15/10/2020').weekday()

3

In [22]:
pd.Timestamp('15/10/2020') + pd.offsets.Week() # add timestamp with a week ahead

Timestamp('2020-10-22 00:00:00')

In [23]:
pd.Timestamp('15/10/2020') + pd.offsets.MonthEnd() # do month end, have the last day of september

Timestamp('2020-10-31 00:00:00')

## Working with Dates in DataFrame

In [25]:
dates = pd.date_range('10-15-2020', periods=9, freq='2W-SUN') # 9 measurements, bi-weekly every Sunday, starting on 15 Oct.
dates

DatetimeIndex(['2020-10-18', '2020-11-01', '2020-11-15', '2020-11-29',
               '2020-12-13', '2020-12-27', '2021-01-10', '2021-01-24',
               '2021-02-07'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [26]:
pd.date_range('10-15-2020', periods=9, freq='B') # business day

DatetimeIndex(['2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-26',
               '2020-10-27'],
              dtype='datetime64[ns]', freq='B')

In [27]:
pd.date_range('28-08-2019', periods = 4, freq='QS-AUG') # quarter start in Aug

DatetimeIndex(['2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01'], dtype='datetime64[ns]', freq='QS-AUG')

In [28]:
dates = pd.date_range('10-15-2020', periods=9, freq='2W-SUN')
df= pd.DataFrame({
    'Count 1':100 + np.random.randint(-5,10,9).cumsum(),
    'Count 2':120 + np.random.randint(-5,10,9)}, index=dates)
df

            Count 1  Count 2
2020-10-18      104      118
2020-11-01       99      124
2020-11-15      104      117
2020-11-29      113      127
2020-12-13      117      125
2020-12-27      113      122
2021-01-10      111      116
2021-01-24      120      124
2021-02-07      117      128

In [43]:
df = df.astype('int')

In [44]:
df.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [45]:
df.diff()

            Count 1  Count 2
2020-10-18      NaN      NaN
2020-11-01     -5.0      6.0
2020-11-15      5.0     -7.0
2020-11-29      9.0     10.0
2020-12-13      4.0     -2.0
2020-12-27     -4.0     -3.0
2021-01-10     -2.0     -6.0
2021-01-24      9.0      8.0
2021-02-07     -3.0      4.0

In [46]:
df.resample('M').mean() # mean count for each month

               Count 1     Count 2
2020-10-31  104.000000  118.000000
2020-11-30  105.333333  122.666667
2020-12-31  115.000000  123.500000
2021-01-31  115.500000  120.000000
2021-02-28  117.000000  128.000000

In [47]:
df['2020'] #string slicing/indexing to get values

            Count 1  Count 2
2020-10-18      104      118
2020-11-01       99      124
2020-11-15      104      117
2020-11-29      113      127
2020-12-13      117      125
2020-12-27      113      122

In [48]:
df['2020-11'] # particular month

            Count 1  Count 2
2020-11-01       99      124
2020-11-15      104      117
2020-11-29      113      127

In [49]:
df['2020-12': '2021-01']

            Count 1  Count 2
2020-12-13      117      125
2020-12-27      113      122
2021-01-10      111      116
2021-01-24      120      124